.labnome{
    padding-right: 135px;
}
.labtel{
    padding-right: 117px;
}
.labemail{
    padding-right: 129px;
}
@media screen and (min-width: 876px) {
h1, .infos {
    text-align: center;
    margin-top: 43vh;
}
.split {
    height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.titulo {
    left: 0;
    
}

.infos {
    right: 0;
    margin-top: 30vh;
}
label {
    padding-right: 100px;
}
li {
    list-style: none;
}
.seta{
    display: none;
}
.tituloform{
    margin-top: 25vh;
}
}

@media screen and (max-width: 875px){
    .split {
        text-align: center;
    }
    li {
        list-style: none;
    }
    ul {
        padding: 0;
    }
    .titulo {
        position: absolute;
        margin-top: 35vh;
        top: 0;
        right: 0;
        left: 0;
        bottom: 50%;
    
    }
    .seta {
        margin-top: 95vh;
        padding-left: 50%;
    }
    .infos {
        position: absolute;
        top: 80%;
        margin-top: 45%;
        height: 65vh;
        right: 0;
        left: 0;
        bottom: 0;
        
    }
    form {
        height: 50%;
    }
    
}

@media screen and (max-width: 420px) {
    .split {
        text-align: center;
    }
    li {
        list-style: none;
    }
    ul {
        padding: 0;
    }
    .titulo {
        position: absolute;
        margin-top: 35vh;
        top: 0;
        right: 0;
        left: 0;
        bottom: 50%;
    
    }
    .seta {
        margin-top: 95vh;
        padding-left: 50%;
    }
    .infos {
        position: absolute;
        top: 90%;
        margin-top: 100%;
        height: 55vh;
        right: 0;
        left: 0;
        bottom: 0;
        
    }
    form {
        height: 50%;
    }
}
    @media screen and (max-width: 414px){
        .infos {
            margin-top: 55%;
            height: 70vh;
            bottom: 0;
        }
    }
    @media screen and (max-width: 380px){
        .infos {
            margin-top: 55%;
        }
    }
    @media screen and (max-width: 375px){
        li {
            list-style: none;
        }
        .infos {
            margin-top: 55%;
        }
    }
    @media screen and (max-width: 320px){
        .titulo {
            margin-top: 200px;
            top: 0;
            bottom: 50%;
        }
        
    }