html {
    font-family: 'Cinzel', serif;
    scroll-behavior: smooth;
}
.tituloimg{
    position: absolute;
    height: 50vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.labnome{
    padding-right: 135px;
}
.split {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.split.titulopage{
    background-image: url('../img/soap0.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
section.split.infospage {
    background-image: url('../img/consumer02.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
h1.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 360px;
    color: #04702a;
    background: #e6ebea73;
    font-size: 35px;
    border: 0.2rem solid;
    padding: 0 1em;
    margin-left: auto;
    margin-right: auto;
}
input {
    background-color: #fff;
    border: 1px solid #04702a;
}
li {
    margin-bottom: 5px;
}
ul.formitems{
    padding: 0;
}
i.fas.fa-chevron-down, i.fas.fa-chevron-up {
    color: #04702a;
    font-size: 20px;
}
.infosform{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    color: #04702a;
    background-color: #e6ebea73;
    width: 20rem;
    padding: 1rem;
}
@media screen and (min-width: 1170px) {
    .titulo, .infosform {
        text-align: center;
    }
    .split {
        height: 100%;
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
    }

    .infospage {
        right: 0;

    
    }
    label {
        padding-right: 100px;
    }
    li {
        list-style: none;
    }
    .setaDown, .setaUp{
        display: none;
    }

}

@media screen and (max-width: 1169px){
    .split {
        text-align: center;
    }
    section.split.titulopage {
        background-size: cover;
    }
    li {
        list-style: none;
    }
    ul {
        padding: 0;
    }
    .setaDown, .setaUp {
        left: 0;
        margin-top: 90vh;
        padding-left: 50%;
        position: absolute;
    }
    button.botaoUp {
        display: none;
    }
    .infospage {
        position: absolute;
        top: 100%;
        height: 90vh;
        right: 0;
        left: 0;
        bottom: 0;
        
    }
    .infosform {
        padding: 1em;
        max-width: 451px;
        margin-left: auto;
        margin-right: auto;
    }
    .tituloform{
        padding-left: 15px;
        padding-right: 15px;
    }
    form {
        height: 50%;
    }
    
}
@media screen and (max-width: 500px) {
    h1.titulo{
        font-size: 28px;
        max-width: 270px;
    }
    .split {
        text-align: center;
    }
    section.split.titulopage {
        background-size: 100vh;
        background-position: top;
    }
    li {
        list-style: none;
    }
    ul {
        padding: 0;
    }
    .setaDown, .setaUp {
        margin-top: 90vh;
    }
    .infospage {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        
    }
    .infosform {
        font-size: 14px;
        max-width: 300px;
    }
    form {
        height: 50%;
    }
    }
    @media screen and (max-width: 414px){
        .infospage {
            bottom: 0;
        }
    }
    
    @media screen and (max-width: 375px){
        li {
            list-style: none;
        }
    }
    @media screen and (max-width: 320px){
        section.split.titulopage {
            background-size: 100vh;
        }
        .infosform {
            font-size: 12px;
            max-width: 250px;
        }
        
    }
    @media screen and (max-width: 280px){
        h1.titulo{
            font-size: 25px;
            max-width: 240px;
        }
        .infosform {
            max-width: 200px;
        }
    }