html {
    font-family: 'Cinzel', serif;
    scroll-behavior: smooth;
}
.tituloimg{
    position: absolute;
    height: 50vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.labnome{
    padding-right: 135px;
}
.split {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
section.split.titulopage{
    background-image: url('../img/soap1.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
section.split.institucionalpage{
    background-image: url('../img/consumer1.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
section.split.infospage {
    background-image: url('../img/consumer2.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.infostext {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    color: #04702a;
    background-color: #ffffff99;
    text-align: center;
    width: 30rem;
    padding: 1rem;
}
h1.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #04702a;
    background: #ffffff99;
    font-size: 3rem;
    border: 0.2rem solid;
    padding: 0 1em;
    margin-left: auto;
    margin-right: auto;
}
h2.infostitulo {
    font-size: 1.5rem;
    font-weight: bold;
}
p.infosp {
    font-size: 1.3rem;
}
h2.tituloform {
    margin-bottom: 0;
}
input {
    background-color: #fff;
    border: 0.150rem solid #04702a;
}
li {
    margin-bottom: 5px;
}
ul.formitems{
    padding: 0;
}
i.fas.fa-chevron-down, i.fas.fa-chevron-up, 
i.fas.fa-chevron-right, i.fas.fa-chevron-left {
    color: #04702a;
    font-size: 1.5rem;
    cursor: pointer;
}
.infosform{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    color: #04702a;
    background-color: #ffffff99;
    width: 20rem;
    padding: 1rem;
}
.botao {
    border: 0;
    background-color: transparent;
    position: absolute;
}
button.botaoTop, button.botaoUp {
    top: 0;
}
button.botaoRight{
    right: 0;
}
button.botaoLeft{
    left: 0;
}
button.botaoMiddle, button.botaoDown {
    bottom: 0;
}
@media screen and (min-width: 1170px) {
    .titulo, .infosform {
        text-align: center;
    }
    .split {
        height: 100%;
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
    }

    button.botaoLeft {
        display: none;
    }
    .titulopage {
        left: 0;
        position: absolute;
    }
    .institucionalpage {
        left: 50%;
        position: absolute;
    }

    .infospage {
        left: 100%;
        position: absolute;
    
    }
    label {
        padding-right: 100px;
    }
    li {
        list-style: none;
    }
    .setaDown, .setaUp{
        display: none;
    }

}

@media screen and (max-width: 1169px){
    .split {
        text-align: center;
    }
    button.botaoLeft, button.botaoRight{
        display: none;
    }
    li {
        list-style: none;
    }
    ul {
        padding: 0;
    }
    .institucionalpage {
        position: absolute;
        top: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .infospage {
        position: absolute;
        top: 200%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .infosform {
        padding: 1em;
        max-width: 451px;
        margin-left: auto;
        margin-right: auto;
    }
    .tituloform{
        padding-left: 15px;
        padding-right: 15px;
    }
    form {
        height: 50%;
    }
    
}
@media screen and (max-width: 500px) {
    h1.titulo{
        font-size: 2.1rem;
        max-width: 270px;
    }
    .split {
        text-align: center;
    }
    section.split.titulopage {
        background-position: top;
    }
    .infostext{
        width: 100%;
        padding: 0;
    }
    p.infosp {
        font-size: 1rem;
    }
    h2.infostitulo,p.infosp{
        padding: 0 2rem;
    }
    li {
        list-style: none;
    }
    ul {
        padding: 0;
    }
    .infosform {
        font-size: 14px;
        max-width: 300px;
    }
    form {
        height: 50%;
    }
    }
    
    @media screen and (max-width: 375px){
        h1.titulo{
            font-size: 1.8rem;
        }
        li {
            list-style: none;
        }
    }
    @media screen and (max-width: 320px){
        .infosform {
            font-size: 12px;
            max-width: 250px;
        }
        
    }
    @media screen and (max-width: 280px){
        h1.titulo{
            font-size: 25px;
            max-width: 240px;
        }
        .infosform {
            max-width: 200px;
        }
    }